<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改妇女病普查体格检查记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-fnbpctgjcjl-edit" th:object="${tbFbFnbpctgjcjl}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">妇女病普查登记ID：</label>
                <div class="col-sm-8">
                    <input name="fnbpcdjid" readonly th:field="*{fnbpcdjid}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="xm" readonly th:field="*{xm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="birthday" readonly th:value="${#dates.format(tbFbFnbpctgjcjl.birthday, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证件-号码：</label>
                <div class="col-sm-8">
                    <input name="cardid" readonly th:field="*{cardid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">心率(次分钟)：</label>
                <div class="col-sm-8">
                    <input name="xl" th:field="*{xl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收缩压(mmHg)：</label>
                <div class="col-sm-8">
                    <input name="ssy" th:field="*{ssy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">舒张压(mmHg)：</label>
                <div class="col-sm-8">
                    <input name="szy" th:field="*{szy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">左侧附件检查结果：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_fn_fj')}">
                        <input type="radio" th:id="${'zcfjjcjgdm_' + dict.dictCode}" name="zcfjjcjgdm" th:value="${dict.dictValue}" th:field="*{zcfjjcjgdm}">
                        <label th:for="${'zcfjjcjgdm_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">右侧附件检查结果：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_fn_fj')}">
                        <input type="radio" th:id="${'ycfjjcjgdm_' + dict.dictCode}" name="ycfjjcjgdm" th:value="${dict.dictValue}" th:field="*{ycfjjcjgdm}">
                        <label th:for="${'ycfjjcjgdm_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">宫颈检查结果：</label>
                <div class="col-sm-8">
                    <input name="gjjcjg" th:field="*{gjjcjg}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">阴道检查结果：</label>
                <div class="col-sm-8">
                    <input name="ydjcjg" th:field="*{ydjcjg}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">外阴检查结果：</label>
                <div class="col-sm-8">
                    <input name="wyjcjg" th:field="*{wyjcjg}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">子宫检查结果：</label>
                <div class="col-sm-8">
                    <input name="zgjcjg" th:field="*{zgjcjg}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">左侧乳腺检查结果：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_fn_rx')}">
                        <input type="radio" th:id="${'zcrxjcjgdm_' + dict.dictCode}" name="zcrxjcjgdm" th:value="${dict.dictValue}" th:field="*{zcrxjcjgdm}">
                        <label th:for="${'zcrxjcjgdm_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">右侧乳腺检查结果：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_fn_rx')}">
                        <input type="radio" th:id="${'ycrxjcjgdm_' + dict.dictCode}" name="ycrxjcjgdm" th:value="${dict.dictValue}" th:field="*{ycrxjcjgdm}">
                        <label th:for="${'ycrxjcjgdm_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">检查(测)日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="jcrq" th:value="${#dates.format(tbFbFnbpctgjcjl.jcrq, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">检查(测)人员代码：</label>
                <div class="col-sm-8">
                    <input name="jcrydm" th:field="*{jcrydm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">检查(测)人员姓名：</label>
                <div class="col-sm-8">
                    <input name="jcryxm" th:field="*{jcryxm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">检查(测)机构代码：</label>
                <div class="col-sm-8">
                    <input name="jcjgdm" th:field="*{jcjgdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">检查(测)机构名称：</label>
                <div class="col-sm-8">
                    <input name="jcjgmc" th:field="*{jcjgmc}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "fnbpc/fnbpctgjcjl";
        $("#form-fnbpctgjcjl-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-fnbpctgjcjl-edit').serialize());
            }
        }

        $("input[name='birthday']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='jcrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>