<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增婚前保健服务问询记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hqbjfwwxjl-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="xm" class="form-control" type="text" onclick="listetda()" id="xm" placeholder="请选择登记信息"  readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">婚前保健服务登记id：</label>
                <div class="col-sm-8">
                    <input name="hqbjfwdjid" id="hqbjfwdjid" class="form-control" type="text" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">身份证号：</label>
                <div class="col-sm-8">
                    <input name="cardid" id="cardid" class="form-control" type="text" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">生日：</label>
                <div class="col-sm-8">
                    <input name="birthday" id="birthday" class="form-control" type="text" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">对方记录表编号：</label>
                <div class="col-sm-8">
                    <input name="dfjlbid" id="dfjlbid" class="form-control" type="text" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">对方姓名：</label>
                <div class="col-sm-8">
                    <input name="dfxm" id="dfxm" class="form-control" type="text" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">血缘关系代码：</label>
                <div class="col-sm-8">
                    <input name="xygxdm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">既往疾病史：</label>
                <div class="col-sm-8">
                    <input name="jwjbs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">手术史：</label>
                <div class="col-sm-8">
                    <input name="sss" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">现病史：</label>
                <div class="col-sm-8">
                    <input name="xbs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">家族遗传性疾病史：</label>
                <div class="col-sm-8">
                    <input name="jzycxjbs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">患者与本人关系代码：</label>
                <div class="col-sm-8">
                    <input name="hzybrgxdm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">初潮年龄：</label>
                <div class="col-sm-8">
                    <input name="ccnl" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">月经持续时间：</label>
                <div class="col-sm-8">
                    <input name="yjcxsj" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">月经出血量类别代码：</label>
                <div class="col-sm-8">
                    <input name="yjcxllbdm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">月经周期：</label>
                <div class="col-sm-8">
                    <input name="yjzq" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">痛经程度代码：</label>
                <div class="col-sm-8">
                    <input name="tjcddm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">末次月经：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="mcyjrq" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">足月产次数：</label>
                <div class="col-sm-8">
                    <input name="zyccs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">早产次数：</label>
                <div class="col-sm-8">
                    <input name="zccs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">流产总次数：</label>
                <div class="col-sm-8">
                    <input name="lczcs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">婚姻状况类别代码：</label>
                <div class="col-sm-8">
                    <input name="hyzklbdm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生育女数：</label>
                <div class="col-sm-8">
                    <input name="syns" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">女患遗传性疾病情况：</label>
                <div class="col-sm-8">
                    <input name="nhycxjbqk" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生育子数：</label>
                <div class="col-sm-8">
                    <input name="syzs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">子患遗传性疾病情况：</label>
                <div class="col-sm-8">
                    <input name="zhycxjbqk" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">家族近亲婚配标志：</label>
                <div class="col-sm-8">
                    <input name="jzjqhpbz" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">家族近亲婚配者与本人关系代码：</label>
                <div class="col-sm-8">
                    <input name="jzjqhpzybrgxdm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">医疗机构代码：</label>
                <div class="col-sm-8">
                    <input name="yljgdm" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建者代码：</label>
                <div class="col-sm-8">
                    <input name="cjzdm" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "hqbjfw/hqbjfwwxjl"
        $("#form-hqbjfwwxjl-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-hqbjfwwxjl-add').serialize());
            }
        }

        $("input[name='mcyjrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function listetda(){
            localStorage.removeItem("selectEtda")
            var title="选择妇女登记信息";
            var url="/hqbjfw/hqbjfwdj/listhqbjfwdj";
            //如果是移动端，就使用自适应大小弹窗
            var options = {
                title: title,
                width: "780",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var json=localStorage.getItem("selectEtda");
            if(!json){
                $.modal.alertWarning("请至少选择一条记录");
                return
            }
            var data=JSON.parse(json);

            $("#xm").val(data[0].xm);
            $("#hqbjfwdjid").val(data[0].id);
            $("#cardid").val(data[0].cardid);
            $("#birthday").val(data[0].birthday);
            $("#dfjlbid").val(data[0].dfjlbid);
            $("#dfxm").val(data[0].dfxm);
            layer.close(index);
        }
    </script>
</body>
</html>