<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改婚前保健服务问询记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hqbjfwwxjl-edit" th:object="${tbFbHqbjfwwxjl}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">婚前保健服务登记id：</label>
                <div class="col-sm-8">
                    <input name="hqbjfwdjid" th:field="*{hqbjfwdjid}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="xm" th:field="*{xm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证号：</label>
                <div class="col-sm-8">
                    <input name="cardid" th:field="*{cardid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="birthday" th:value="${#dates.format(tbFbHqbjfwwxjl.birthday, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">对方姓名：</label>
                <div class="col-sm-8">
                    <input name="dfxm" th:field="*{dfxm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">对方记录表编号：</label>
                <div class="col-sm-8">
                    <input name="dfjlbid" th:field="*{dfjlbid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">血缘关系代码：</label>
                <div class="col-sm-8">
                    <input name="xygxdm" th:field="*{xygxdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">既往疾病史：</label>
                <div class="col-sm-8">
                    <input name="jwjbs" th:field="*{jwjbs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">手术史：</label>
                <div class="col-sm-8">
                    <input name="sss" th:field="*{sss}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">现病史：</label>
                <div class="col-sm-8">
                    <input name="xbs" th:field="*{xbs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">家族遗传性疾病史：</label>
                <div class="col-sm-8">
                    <input name="jzycxjbs" th:field="*{jzycxjbs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">患者与本人关系代码：</label>
                <div class="col-sm-8">
                    <input name="hzybrgxdm" th:field="*{hzybrgxdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">初潮年龄：</label>
                <div class="col-sm-8">
                    <input name="ccnl" th:field="*{ccnl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">月经持续时间：</label>
                <div class="col-sm-8">
                    <input name="yjcxsj" th:field="*{yjcxsj}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">月经出血量类别代码：</label>
                <div class="col-sm-8">
                    <input name="yjcxllbdm" th:field="*{yjcxllbdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">月经周期：</label>
                <div class="col-sm-8">
                    <input name="yjzq" th:field="*{yjzq}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">痛经程度代码：</label>
                <div class="col-sm-8">
                    <input name="tjcddm" th:field="*{tjcddm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">末次月经：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="mcyjrq" th:value="${#dates.format(tbFbHqbjfwwxjl.mcyjrq, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">足月产次数：</label>
                <div class="col-sm-8">
                    <input name="zyccs" th:field="*{zyccs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">早产次数：</label>
                <div class="col-sm-8">
                    <input name="zccs" th:field="*{zccs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">流产总次数：</label>
                <div class="col-sm-8">
                    <input name="lczcs" th:field="*{lczcs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">婚姻状况类别代码：</label>
                <div class="col-sm-8">
                    <input name="hyzklbdm" th:field="*{hyzklbdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生育女数：</label>
                <div class="col-sm-8">
                    <input name="syns" th:field="*{syns}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">女患遗传性疾病情况：</label>
                <div class="col-sm-8">
                    <input name="nhycxjbqk" th:field="*{nhycxjbqk}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生育子数：</label>
                <div class="col-sm-8">
                    <input name="syzs" th:field="*{syzs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">子患遗传性疾病情况：</label>
                <div class="col-sm-8">
                    <input name="zhycxjbqk" th:field="*{zhycxjbqk}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">家族近亲婚配标志：</label>
                <div class="col-sm-8">
                    <input name="jzjqhpbz" th:field="*{jzjqhpbz}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">家族近亲婚配者与本人关系代码：</label>
                <div class="col-sm-8">
                    <input name="jzjqhpzybrgxdm" th:field="*{jzjqhpzybrgxdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">医疗机构代码：</label>
                <div class="col-sm-8">
                    <input name="yljgdm" th:field="*{yljgdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建者代码：</label>
                <div class="col-sm-8">
                    <input name="cjzdm" th:field="*{cjzdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">删除标志：</label>
                <div class="col-sm-8">
                    <input name="deleteFlag" th:field="*{deleteFlag}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "hqbjfw/hqbjfwwxjl";
        $("#form-hqbjfwwxjl-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-hqbjfwwxjl-edit').serialize());
            }
        }

        $("input[name='birthday']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='mcyjrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>