<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('婚前保健服务体格检查记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>婚前保健服务登记ID：</p>
                                <input type="text" name="hqbjfwdjid"/>
                            </li>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>身份证号：</p>
                                <input type="text" name="cardid"/>
                            </li>
                            <li class="select-time">
                                <p>生日：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginBirthday]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endBirthday]"/>
                            </li>
                            <li>
                                <p>对方记录表编号：</p>
                                <input type="text" name="dfjlbid"/>
                            </li>
                            <li>
                                <p>对方姓名：</p>
                                <input type="text" name="dfxm"/>
                            </li>
                            <li>
                                <p>收缩压(mmHg)：</p>
                                <input type="text" name="ssy"/>
                            </li>
                            <li>
                                <p>舒张压(mmHg)：</p>
                                <input type="text" name="szy"/>
                            </li>
                            <li>
                                <p>特殊体态检查结果：</p>
                                <input type="text" name="tsttjcjg"/>
                            </li>
                            <li>
                                <p>精神状态代码：</p>
                                <select name="jsztdm" th:with="type=${@dict.getType('sys_fn_yz')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>特殊面容检查结果：</p>
                                <input type="text" name="tsmrjcjg"/>
                            </li>
                            <li>
                                <p>五官检查结果：</p>
                                <input type="text" name="wgjcjg"/>
                            </li>
                            <li>
                                <p>智力发育：</p>
                                <input type="text" name="zlfy"/>
                            </li>
                            <li>
                                <p>心率(次/分)：</p>
                                <input type="text" name="xlh"/>
                            </li>
                            <li>
                                <p>心律：</p>
                                <input type="text" name="xl"/>
                            </li>
                            <li>
                                <p>心脏听诊结果：</p>
                                <input type="text" name="xztzjg"/>
                            </li>
                            <li>
                                <p>腹部听诊结果：</p>
                                <input type="text" name="fbtzjg"/>
                            </li>
                            <li>
                                <p>肝脏触诊结果：</p>
                                <input type="text" name="gzczjg"/>
                            </li>
                            <li>
                                <p>四肢检查结果：</p>
                                <input type="text" name="szjcjg"/>
                            </li>
                            <li>
                                <p>脊柱检查结果：</p>
                                <input type="text" name="jzjcjg"/>
                            </li>
                            <li>
                                <p>皮肤毛发检查结果：</p>
                                <input type="text" name="pfmfjcjg"/>
                            </li>
                            <li>
                                <p>甲状腺检查结果：</p>
                                <input type="text" name="jzxjcjg"/>
                            </li>
                            <li>
                                <p>妇科检查方式代码：</p>
                                <input type="text" name="fkjcfsdm"/>
                            </li>
                            <li>
                                <p>知情同意标志：</p>
                                <select name="zqtybz" th:with="type=${@dict.getType('sys_fn_zq')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>阴毛检查结果：</p>
                                <input type="text" name="ymjcjg"/>
                            </li>
                            <li>
                                <p>外阴检查结果：</p>
                                <input type="text" name="wyjcjg"/>
                            </li>
                            <li>
                                <p>阴道检查结果：</p>
                                <input type="text" name="ydjcjg"/>
                            </li>
                            <li>
                                <p>子宫检查结果：</p>
                                <input type="text" name="zgjcjg"/>
                            </li>
                            <li>
                                <p>左侧附件检查结果代码：</p>
                                <select name="zcfjjcjgdm" th:with="type=${@dict.getType('sys_fn_fj')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>右侧附件检查结果代码：</p>
                                <select name="ycfjjcjgdm" th:with="type=${@dict.getType('sys_fn_fj')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>宫颈检查结果：</p>
                                <input type="text" name="gjjcjgdm"/>
                            </li>
                            <li>
                                <p>左侧乳腺检查结果代码：</p>
                                <select name="zcrxjcjgdm" th:with="type=${@dict.getType('sys_fn_rx')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>右侧乳腺检查结果代码：</p>
                                <select name="ycrxjcjgdm" th:with="type=${@dict.getType('sys_fn_rx')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <p>检查(测)日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginJcrq]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endJcrq]"/>
                            </li>
                            <li>
                                <p>检查(测)人员姓名：</p>
                                <input type="text" name="jcryxm"/>
                            </li>
                            <li>
                                <p>检查(测)机构名称：</p>
                                <input type="text" name="jcjgmc"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="hqbjfw:hqbjfwtgjcjl:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="hqbjfw:hqbjfwtgjcjl:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="hqbjfw:hqbjfwtgjcjl:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="hqbjfw:hqbjfwtgjcjl:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('hqbjfw:hqbjfwtgjcjl:edit')}]];
        var removeFlag = [[${@permission.hasPermi('hqbjfw:hqbjfwtgjcjl:remove')}]];
        var jsztdmDatas = [[${@dict.getType('sys_fn_yz')}]];
        var zqtybzDatas = [[${@dict.getType('sys_fn_zq')}]];
        var zcfjjcjgdmDatas = [[${@dict.getType('sys_fn_fj')}]];
        var ycfjjcjgdmDatas = [[${@dict.getType('sys_fn_fj')}]];
        var zcrxjcjgdmDatas = [[${@dict.getType('sys_fn_rx')}]];
        var ycrxjcjgdmDatas = [[${@dict.getType('sys_fn_rx')}]];
        var prefix = ctx + "hqbjfw/hqbjfwtgjcjl";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "婚前保健服务体格检查记录",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'null',
                    visible: false
                },
                {
                    field : 'hqbjfwdjid', 
                    title : '婚前保健服务登记ID'
                },
                {
                    field : 'name', 
                    title : '姓名'
                },
                {
                    field : 'cardid', 
                    title : '身份证号'
                },
                {
                    field : 'birthday', 
                    title : '生日'
                },
                {
                    field : 'dfjlbid', 
                    title : '对方记录表编号'
                },
                {
                    field : 'dfxm', 
                    title : '对方姓名'
                },
                {
                    field : 'ssy', 
                    title : '收缩压(mmHg)'
                },
                {
                    field : 'szy', 
                    title : '舒张压(mmHg)'
                },
                {
                    field : 'tsttjcjg', 
                    title : '特殊体态检查结果'
                },
                {
                    field : 'jsztdm', 
                    title : '精神状态代码',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(jsztdmDatas, value);
                    }
                },
                {
                    field : 'tsmrjcjg', 
                    title : '特殊面容检查结果'
                },
                {
                    field : 'wgjcjg', 
                    title : '五官检查结果'
                },
                {
                    field : 'zlfy', 
                    title : '智力发育'
                },
                {
                    field : 'xlh', 
                    title : '心率(次/分)'
                },
                {
                    field : 'xl', 
                    title : '心律'
                },
                {
                    field : 'xztzjg', 
                    title : '心脏听诊结果'
                },
                {
                    field : 'fbtzjg', 
                    title : '腹部听诊结果'
                },
                {
                    field : 'gzczjg', 
                    title : '肝脏触诊结果'
                },
                {
                    field : 'szjcjg', 
                    title : '四肢检查结果'
                },
                {
                    field : 'jzjcjg', 
                    title : '脊柱检查结果'
                },
                {
                    field : 'pfmfjcjg', 
                    title : '皮肤毛发检查结果'
                },
                {
                    field : 'jzxjcjg', 
                    title : '甲状腺检查结果'
                },
                {
                    field : 'fkjcfsdm', 
                    title : '妇科检查方式代码'
                },
                {
                    field : 'zqtybz', 
                    title : '知情同意标志',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(zqtybzDatas, value);
                    }
                },
                {
                    field : 'ymjcjg', 
                    title : '阴毛检查结果'
                },
                {
                    field : 'wyjcjg', 
                    title : '外阴检查结果'
                },
                {
                    field : 'ydjcjg', 
                    title : '阴道检查结果'
                },
                {
                    field : 'zgjcjg', 
                    title : '子宫检查结果'
                },
                {
                    field : 'zcfjjcjgdm', 
                    title : '左侧附件检查结果代码',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(zcfjjcjgdmDatas, value);
                    }
                },
                {
                    field : 'ycfjjcjgdm', 
                    title : '右侧附件检查结果代码',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(ycfjjcjgdmDatas, value);
                    }
                },
                {
                    field : 'gjjcjgdm', 
                    title : '宫颈检查结果'
                },
                {
                    field : 'zcrxjcjgdm', 
                    title : '左侧乳腺检查结果代码',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(zcrxjcjgdmDatas, value);
                    }
                },
                {
                    field : 'ycrxjcjgdm', 
                    title : '右侧乳腺检查结果代码',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(ycrxjcjgdmDatas, value);
                    }
                },
                {
                    field : 'jcrq', 
                    title : '检查(测)日期'
                },
                {
                    field : 'jcryxm', 
                    title : '检查(测)人员姓名'
                },
                {
                    field : 'jcjgmc', 
                    title : '检查(测)机构名称'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>