<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imedcare.project.fnbj.chjc.chtgjcjl.mapper.TbChChtgjcjlMapper">
    
    <resultMap type="TbChChtgjcjl" id="TbChChtgjcjlResult">
        <result property="id"    column="id"    />
        <result property="chjcdjid"    column="chjcdjid"    />
        <result property="xm"    column="xm"    />
        <result property="tw"    column="tw"    />
        <result property="ssy"    column="ssy"    />
        <result property="szy"    column="szy"    />
        <result property="rrjcjg"    column="rrjcjg"    />
        <result property="jzxjcjg"    column="jzxjcjg"    />
        <result property="xztzjg"    column="xztzjg"    />
        <result property="fbtzjg"    column="fbtzjg"    />
        <result property="gjjcjg"    column="gjjcjg"    />
        <result property="ydjcjg"    column="ydjcjg"    />
        <result property="zgjcjg"    column="zgjcjg"    />
        <result property="zcfjjcjgdm"    column="zcfjjcjgdm"    />
        <result property="ycfjjcjgdm"    column="ycfjjcjgdm"    />
        <result property="zcrxjcjgdm"    column="zcrxjcjgdm"    />
        <result property="ycrxjcjgdm"    column="ycrxjcjgdm"    />
        <result property="wyjcjg"    column="wyjcjg"    />
        <result property="skyhzkdm"    column="skyhzkdm"    />
        <result property="elzk"    column="elzk"    />
        <result property="jcryxm"    column="jcryxm"    />
        <result property="jcjgmc"    column="jcjgmc"    />
        <result property="jcrq"    column="jcrq"    />
        <result property="tbrq"    column="tbrq"    />
    </resultMap>

    <sql id="selectTbChChtgjcjlVo">
        select id, chjcdjid, xm, tw, ssy, szy, rrjcjg, jzxjcjg, xztzjg, fbtzjg, gjjcjg, ydjcjg, zgjcjg, zcfjjcjgdm, ycfjjcjgdm, zcrxjcjgdm, ycrxjcjgdm, wyjcjg, skyhzkdm, elzk, jcryxm, jcjgmc, jcrq, tbrq from tb_ch_chtgjcjl
    </sql>

    <select id="selectTbChChtgjcjlList" parameterType="TbChChtgjcjl" resultMap="TbChChtgjcjlResult">
        <include refid="selectTbChChtgjcjlVo"/>
        <where>  
            <if test="chjcdjid != null "> and chjcdjid = #{chjcdjid}</if>
            <if test="xm != null  and xm != ''"> and xm = #{xm}</if>
            <if test="tw != null  and tw != ''"> and tw = #{tw}</if>
            <if test="ssy != null  and ssy != ''"> and ssy = #{ssy}</if>
            <if test="szy != null  and szy != ''"> and szy = #{szy}</if>
            <if test="rrjcjg != null  and rrjcjg != ''"> and rrjcjg = #{rrjcjg}</if>
            <if test="jzxjcjg != null  and jzxjcjg != ''"> and jzxjcjg = #{jzxjcjg}</if>
            <if test="xztzjg != null  and xztzjg != ''"> and xztzjg = #{xztzjg}</if>
            <if test="fbtzjg != null  and fbtzjg != ''"> and fbtzjg = #{fbtzjg}</if>
            <if test="gjjcjg != null  and gjjcjg != ''"> and gjjcjg = #{gjjcjg}</if>
            <if test="ydjcjg != null  and ydjcjg != ''"> and ydjcjg = #{ydjcjg}</if>
            <if test="zgjcjg != null  and zgjcjg != ''"> and zgjcjg = #{zgjcjg}</if>
            <if test="zcfjjcjgdm != null  and zcfjjcjgdm != ''"> and zcfjjcjgdm = #{zcfjjcjgdm}</if>
            <if test="ycfjjcjgdm != null  and ycfjjcjgdm != ''"> and ycfjjcjgdm = #{ycfjjcjgdm}</if>
            <if test="zcrxjcjgdm != null  and zcrxjcjgdm != ''"> and zcrxjcjgdm = #{zcrxjcjgdm}</if>
            <if test="ycrxjcjgdm != null  and ycrxjcjgdm != ''"> and ycrxjcjgdm = #{ycrxjcjgdm}</if>
            <if test="wyjcjg != null  and wyjcjg != ''"> and wyjcjg = #{wyjcjg}</if>
            <if test="skyhzkdm != null  and skyhzkdm != ''"> and skyhzkdm = #{skyhzkdm}</if>
            <if test="elzk != null  and elzk != ''"> and elzk = #{elzk}</if>
            <if test="jcryxm != null  and jcryxm != ''"> and jcryxm = #{jcryxm}</if>
            <if test="jcjgmc != null  and jcjgmc != ''"> and jcjgmc = #{jcjgmc}</if>
            <if test="jcrq != null "> and jcrq = #{jcrq}</if>
            <if test="tbrq != null "> and tbrq = #{tbrq}</if>
        </where>
    </select>
    
    <select id="selectTbChChtgjcjlById" parameterType="Long" resultMap="TbChChtgjcjlResult">
        <include refid="selectTbChChtgjcjlVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbChChtgjcjl" parameterType="TbChChtgjcjl" useGeneratedKeys="true" keyProperty="id">
        insert into tb_ch_chtgjcjl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chjcdjid != null ">chjcdjid,</if>
            <if test="xm != null  and xm != ''">xm,</if>
            <if test="tw != null  and tw != ''">tw,</if>
            <if test="ssy != null  and ssy != ''">ssy,</if>
            <if test="szy != null  and szy != ''">szy,</if>
            <if test="rrjcjg != null  and rrjcjg != ''">rrjcjg,</if>
            <if test="jzxjcjg != null  and jzxjcjg != ''">jzxjcjg,</if>
            <if test="xztzjg != null  and xztzjg != ''">xztzjg,</if>
            <if test="fbtzjg != null  and fbtzjg != ''">fbtzjg,</if>
            <if test="gjjcjg != null  and gjjcjg != ''">gjjcjg,</if>
            <if test="ydjcjg != null  and ydjcjg != ''">ydjcjg,</if>
            <if test="zgjcjg != null  and zgjcjg != ''">zgjcjg,</if>
            <if test="zcfjjcjgdm != null  and zcfjjcjgdm != ''">zcfjjcjgdm,</if>
            <if test="ycfjjcjgdm != null  and ycfjjcjgdm != ''">ycfjjcjgdm,</if>
            <if test="zcrxjcjgdm != null  and zcrxjcjgdm != ''">zcrxjcjgdm,</if>
            <if test="ycrxjcjgdm != null  and ycrxjcjgdm != ''">ycrxjcjgdm,</if>
            <if test="wyjcjg != null  and wyjcjg != ''">wyjcjg,</if>
            <if test="skyhzkdm != null  and skyhzkdm != ''">skyhzkdm,</if>
            <if test="elzk != null  and elzk != ''">elzk,</if>
            <if test="jcryxm != null  and jcryxm != ''">jcryxm,</if>
            <if test="jcjgmc != null  and jcjgmc != ''">jcjgmc,</if>
            <if test="jcrq != null ">jcrq,</if>
            <if test="tbrq != null ">tbrq,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chjcdjid != null ">#{chjcdjid},</if>
            <if test="xm != null  and xm != ''">#{xm},</if>
            <if test="tw != null  and tw != ''">#{tw},</if>
            <if test="ssy != null  and ssy != ''">#{ssy},</if>
            <if test="szy != null  and szy != ''">#{szy},</if>
            <if test="rrjcjg != null  and rrjcjg != ''">#{rrjcjg},</if>
            <if test="jzxjcjg != null  and jzxjcjg != ''">#{jzxjcjg},</if>
            <if test="xztzjg != null  and xztzjg != ''">#{xztzjg},</if>
            <if test="fbtzjg != null  and fbtzjg != ''">#{fbtzjg},</if>
            <if test="gjjcjg != null  and gjjcjg != ''">#{gjjcjg},</if>
            <if test="ydjcjg != null  and ydjcjg != ''">#{ydjcjg},</if>
            <if test="zgjcjg != null  and zgjcjg != ''">#{zgjcjg},</if>
            <if test="zcfjjcjgdm != null  and zcfjjcjgdm != ''">#{zcfjjcjgdm},</if>
            <if test="ycfjjcjgdm != null  and ycfjjcjgdm != ''">#{ycfjjcjgdm},</if>
            <if test="zcrxjcjgdm != null  and zcrxjcjgdm != ''">#{zcrxjcjgdm},</if>
            <if test="ycrxjcjgdm != null  and ycrxjcjgdm != ''">#{ycrxjcjgdm},</if>
            <if test="wyjcjg != null  and wyjcjg != ''">#{wyjcjg},</if>
            <if test="skyhzkdm != null  and skyhzkdm != ''">#{skyhzkdm},</if>
            <if test="elzk != null  and elzk != ''">#{elzk},</if>
            <if test="jcryxm != null  and jcryxm != ''">#{jcryxm},</if>
            <if test="jcjgmc != null  and jcjgmc != ''">#{jcjgmc},</if>
            <if test="jcrq != null ">#{jcrq},</if>
            <if test="tbrq != null ">#{tbrq},</if>
         </trim>
    </insert>

    <update id="updateTbChChtgjcjl" parameterType="TbChChtgjcjl">
        update tb_ch_chtgjcjl
        <trim prefix="SET" suffixOverrides=",">
            <if test="chjcdjid != null ">chjcdjid = #{chjcdjid},</if>
            <if test="xm != null  and xm != ''">xm = #{xm},</if>
            <if test="tw != null  and tw != ''">tw = #{tw},</if>
            <if test="ssy != null  and ssy != ''">ssy = #{ssy},</if>
            <if test="szy != null  and szy != ''">szy = #{szy},</if>
            <if test="rrjcjg != null  and rrjcjg != ''">rrjcjg = #{rrjcjg},</if>
            <if test="jzxjcjg != null  and jzxjcjg != ''">jzxjcjg = #{jzxjcjg},</if>
            <if test="xztzjg != null  and xztzjg != ''">xztzjg = #{xztzjg},</if>
            <if test="fbtzjg != null  and fbtzjg != ''">fbtzjg = #{fbtzjg},</if>
            <if test="gjjcjg != null  and gjjcjg != ''">gjjcjg = #{gjjcjg},</if>
            <if test="ydjcjg != null  and ydjcjg != ''">ydjcjg = #{ydjcjg},</if>
            <if test="zgjcjg != null  and zgjcjg != ''">zgjcjg = #{zgjcjg},</if>
            <if test="zcfjjcjgdm != null  and zcfjjcjgdm != ''">zcfjjcjgdm = #{zcfjjcjgdm},</if>
            <if test="ycfjjcjgdm != null  and ycfjjcjgdm != ''">ycfjjcjgdm = #{ycfjjcjgdm},</if>
            <if test="zcrxjcjgdm != null  and zcrxjcjgdm != ''">zcrxjcjgdm = #{zcrxjcjgdm},</if>
            <if test="ycrxjcjgdm != null  and ycrxjcjgdm != ''">ycrxjcjgdm = #{ycrxjcjgdm},</if>
            <if test="wyjcjg != null  and wyjcjg != ''">wyjcjg = #{wyjcjg},</if>
            <if test="skyhzkdm != null  and skyhzkdm != ''">skyhzkdm = #{skyhzkdm},</if>
            <if test="elzk != null  and elzk != ''">elzk = #{elzk},</if>
            <if test="jcryxm != null  and jcryxm != ''">jcryxm = #{jcryxm},</if>
            <if test="jcjgmc != null  and jcjgmc != ''">jcjgmc = #{jcjgmc},</if>
            <if test="jcrq != null ">jcrq = #{jcrq},</if>
            <if test="tbrq != null ">tbrq = #{tbrq},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbChChtgjcjlById" parameterType="Long">
        delete from tb_ch_chtgjcjl where id = #{id}
    </delete>

    <delete id="deleteTbChChtgjcjlByIds" parameterType="String">
        delete from tb_ch_chtgjcjl where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>