<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imedcare.project.fnbj.cqzd.cqzdyxjcjl.mapper.TbChCqzdyxjcjlMapper">
    
    <resultMap type="TbChCqzdyxjcjl" id="TbChCqzdyxjcjlResult">
        <result property="id"    column="id"    />
        <result property="xm"    column="xm"    />
        <result property="csrq"    column="csrq"    />
        <result property="mqsfzjhm"    column="mqsfzjhm"    />
        <result property="mqsfzjlbdm"    column="mqsfzjlbdm"    />
        <result property="zdff"    column="zdff"    />
        <result property="jcrq"    column="jcrq"    />
        <result property="cqzdysxm"    column="cqzdysxm"    />
        <result property="cqzdjgmc"    column="cqzdjgmc"    />
        <result property="djrq"    column="djrq"    />
        <result property="cqzddjid"    column="cqzddjid"    />
    </resultMap>

    <sql id="selectTbChCqzdyxjcjlVo">
        select id, xm, csrq, mqsfzjhm, mqsfzjlbdm, zdff, jcrq, cqzdysxm, cqzdjgmc, djrq, cqzddjid from tb_ch_cqzdyxjcjl
    </sql>

    <select id="selectTbChCqzdyxjcjlList" parameterType="TbChCqzdyxjcjl" resultMap="TbChCqzdyxjcjlResult">
        <include refid="selectTbChCqzdyxjcjlVo"/>
        <where>  
            <if test="xm != null  and xm != ''"> and xm = #{xm}</if>
            <if test="csrq != null "> and csrq = #{csrq}</if>
            <if test="mqsfzjhm != null  and mqsfzjhm != ''"> and mqsfzjhm = #{mqsfzjhm}</if>
            <if test="mqsfzjlbdm != null  and mqsfzjlbdm != ''"> and mqsfzjlbdm = #{mqsfzjlbdm}</if>
            <if test="zdff != null  and zdff != ''"> and zdff = #{zdff}</if>
            <if test="jcrq != null "> and jcrq = #{jcrq}</if>
            <if test="cqzdysxm != null  and cqzdysxm != ''"> and cqzdysxm = #{cqzdysxm}</if>
            <if test="cqzdjgmc != null  and cqzdjgmc != ''"> and cqzdjgmc = #{cqzdjgmc}</if>
            <if test="djrq != null "> and djrq = #{djrq}</if>
            <if test="cqzddjid != null "> and cqzddjid = #{cqzddjid}</if>
        </where>
    </select>
    
    <select id="selectTbChCqzdyxjcjlById" parameterType="Long" resultMap="TbChCqzdyxjcjlResult">
        <include refid="selectTbChCqzdyxjcjlVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbChCqzdyxjcjl" parameterType="TbChCqzdyxjcjl" useGeneratedKeys="true" keyProperty="id">
        insert into tb_ch_cqzdyxjcjl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="xm != null  and xm != ''">xm,</if>
            <if test="csrq != null ">csrq,</if>
            <if test="mqsfzjhm != null  and mqsfzjhm != ''">mqsfzjhm,</if>
            <if test="mqsfzjlbdm != null  and mqsfzjlbdm != ''">mqsfzjlbdm,</if>
            <if test="zdff != null  and zdff != ''">zdff,</if>
            <if test="jcrq != null ">jcrq,</if>
            <if test="cqzdysxm != null  and cqzdysxm != ''">cqzdysxm,</if>
            <if test="cqzdjgmc != null  and cqzdjgmc != ''">cqzdjgmc,</if>
            <if test="djrq != null ">djrq,</if>
            <if test="cqzddjid != null ">cqzddjid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="xm != null  and xm != ''">#{xm},</if>
            <if test="csrq != null ">#{csrq},</if>
            <if test="mqsfzjhm != null  and mqsfzjhm != ''">#{mqsfzjhm},</if>
            <if test="mqsfzjlbdm != null  and mqsfzjlbdm != ''">#{mqsfzjlbdm},</if>
            <if test="zdff != null  and zdff != ''">#{zdff},</if>
            <if test="jcrq != null ">#{jcrq},</if>
            <if test="cqzdysxm != null  and cqzdysxm != ''">#{cqzdysxm},</if>
            <if test="cqzdjgmc != null  and cqzdjgmc != ''">#{cqzdjgmc},</if>
            <if test="djrq != null ">#{djrq},</if>
            <if test="cqzddjid != null ">#{cqzddjid},</if>
         </trim>
    </insert>

    <update id="updateTbChCqzdyxjcjl" parameterType="TbChCqzdyxjcjl">
        update tb_ch_cqzdyxjcjl
        <trim prefix="SET" suffixOverrides=",">
            <if test="xm != null  and xm != ''">xm = #{xm},</if>
            <if test="csrq != null ">csrq = #{csrq},</if>
            <if test="mqsfzjhm != null  and mqsfzjhm != ''">mqsfzjhm = #{mqsfzjhm},</if>
            <if test="mqsfzjlbdm != null  and mqsfzjlbdm != ''">mqsfzjlbdm = #{mqsfzjlbdm},</if>
            <if test="zdff != null  and zdff != ''">zdff = #{zdff},</if>
            <if test="jcrq != null ">jcrq = #{jcrq},</if>
            <if test="cqzdysxm != null  and cqzdysxm != ''">cqzdysxm = #{cqzdysxm},</if>
            <if test="cqzdjgmc != null  and cqzdjgmc != ''">cqzdjgmc = #{cqzdjgmc},</if>
            <if test="djrq != null ">djrq = #{djrq},</if>
            <if test="cqzddjid != null ">cqzddjid = #{cqzddjid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbChCqzdyxjcjlById" parameterType="Long">
        delete from tb_ch_cqzdyxjcjl where id = #{id}
    </delete>

    <delete id="deleteTbChCqzdyxjcjlByIds" parameterType="String">
        delete from tb_ch_cqzdyxjcjl where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>