<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增儿童健康体检问询记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-jktjtgjc-add">
            <input name="djid" class="form-control" type="hidden" id="djid">
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="listdj()" id="xm" name="xm"  readonly placeholder="选择登记信息" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <select name="xbdm" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}" disabled="disabled" id="xbdm">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="csrq" class="form-control" placeholder="yyyy-MM-dd" type="text" id="csrq"  readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">母亲姓名：</label>
                <div class="col-sm-8">
                    <input name="mqxm" class="form-control" type="text" id="mqxm" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">分娩方式：</label>
                <div class="col-sm-8">
                    <select name="fmfs" class="form-control m-b" th:with="type=${@dict.getType('STD_DELIVERY_WAY')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生孕周：</label>
                <div class="col-sm-8">
                    <input name="csyz" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">体重：</label>
                <div class="col-sm-8">
                    <input name="tz" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身长：</label>
                <div class="col-sm-8">
                    <input name="sc" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Apgar评分值：</label>
                <div class="col-sm-8">
                    <input name="pfz" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生缺陷标志：</label>
                <div class="col-sm-8">
                    <select name="csqxbz" class="form-control m-b" th:with="type=${@dict.getType('sys_has_not')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生缺陷类别：</label>
                <div class="col-sm-8">
                    <select name="csqxlb" class="form-control m-b" th:with="type=${@dict.getType('sys_et_csqxlb')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">疾病筛查结果：</label>
                <div class="col-sm-8">
                    <select name="jbscjg" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">家族遗传病史：</label>
                <div class="col-sm-8">
                    <input name="ycbs" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">患者与儿童关系：</label>
                <div class="col-sm-8">
                    <input name="hzbrgx" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">过敏史：</label>
                <div class="col-sm-8">
                    <input name="gms" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">抬头月龄：</label>
                <div class="col-sm-8">
                    <input name="ttyl" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">翻身月龄：</label>
                <div class="col-sm-8">
                    <input name="fsyl" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">独坐月龄：</label>
                <div class="col-sm-8">
                    <input name="dzyl" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">爬行月龄：</label>
                <div class="col-sm-8">
                    <input name="pxyl" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">ABO血型代码：</label>
                <div class="col-sm-8">
                    <select name="aobxx" class="form-control m-b" th:with="type=${@dict.getType('CV5103.02ABO')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Rh血型代码：</label>
                <div class="col-sm-8">
                    <select name="rhxx" class="form-control m-b" th:with="type=${@dict.getType('RHXXDM')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "etjktj/jktjtgjc"
        $("#form-jktjtgjc-add").validate({
            focusCleanup: true
        });
        function listdj(){
            localStorage.removeItem("selectTjdj")
            var title="选择儿童信息";
            var url="/etjktj/jktjdj/listdj";
            //如果是移动端，就使用自适应大小弹窗
            var options = {
                title: title,
                width: "780",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var json=localStorage.getItem("selectTjdj");
            if(!json){
                $.modal.alertWarning("请至少选择一条记录");
                return
            }
            var data=JSON.parse(json);
            $("#csrq").val(data[0].csrq.substring(0,11));
            $("#xm").val(data[0].xm);
            $("#xbdm").val(data[0].xbdm);
            $("#mqxm").val(data[0].mqxm);
            $("#djid").val(data[0].id);
            layer.close(index);
        }
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-jktjtgjc-add').serialize());
            }
        }
    </script>
</body>
</html>