<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增体弱儿童登记')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tretdj-add">
            <input name="healthfileid" type="hidden"  id="healthFileId">
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="listetda()" id="xm" name="xm"  readonly placeholder="选择登记信息" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <select name="xbdm" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}" disabled="disabled" id="xbdm">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="csrq" class="form-control" placeholder="yyyy-MM-dd" type="text" id="csrq"  readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">母亲姓名：</label>
                <div class="col-sm-8">
                    <input name="mqxm" class="form-control" type="text" id="mqxm" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">母亲证件号码：</label>
                <div class="col-sm-8">
                    <input name="mqsfzjhm" class="form-control" type="text" id="mqsfzjhm" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联系方式：</label>
                <div class="col-sm-8">
                    <input name="lxfs" class="form-control" type="text" id="lxfs">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">现住址：</label>
                <div class="col-sm-8">
                    <input name="xzz" class="form-control" type="text" id="xzz">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "tretgl/tretdj"
        $("#form-tretdj-add").validate({
            focusCleanup: true
        });
        function listetda(){
            localStorage.removeItem("selectEtda")
            var title="选择儿童信息";
            var url="/jbda/etda/listetda";
            //如果是移动端，就使用自适应大小弹窗
            var options = {
                title: title,
                width: "780",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            $("#xbdm").attr("disabled",false);
            var json=localStorage.getItem("selectEtda");
            if(!json){
                $.modal.alertWarning("请至少选择一条记录");
                return
            }
            var data=JSON.parse(json);
            $("#csrq").val(data[0].birthday.substring(0,11));
            $("#xm").val(data[0].childName);
            $("#xbdm").val(data[0].gender);
            $("#mqxm").val(data[0].motherName);
            $("#mqsfzjhm").val(data[0].motherId);
            $("#healthFileId").val(data[0].healthFileId);
            $("#lxfs").val(data[0].phone);
            $("#xzz").val(data[0].address);
            layer.close(index);
        }
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-tretdj-add').serialize());
            }
        }

        $("input[name='csrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>