<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改报告卡登记')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bgksb-edit" th:object="${tbEtXsefsdj}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="xm" th:field="*{xm}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <select name="xbdm" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}" disabled="true">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{xbdm}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="csrq" class="form-control" placeholder="yyyy-MM-dd" type="text" id="csrq"  readonly th:field="*{csrq}">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">母亲姓名：</label>
                <div class="col-sm-8">
                    <input name="mqxm" th:field="*{mqxm}" class="form-control" type="text" readonly>
                </div>
            </div>
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">母亲出生日期：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<div class="input-group date">-->
                        <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                        <!--<input name="mqcsrq" th:value="${#dates.format(tbEtXsefsdj.mqcsrq, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">母亲证件类别：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<select name="mqsfzj" class="form-control m-b" th:with="type=${@dict.getType('sys_user_paperwork')}">-->
                        <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{mqsfzj}"></option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">母亲证件号码：</label>
                <div class="col-sm-8">
                    <input name="mqsfzjhm" th:field="*{mqsfzjhm}" class="form-control" type="text" readonly>
                </div>
            </div>
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">行政区划代码：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input name="xzqhdm" th:field="*{xzqhdm}" class="form-control" type="text">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">地址-省/直辖市/自治区：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input name="dzsheng" th:field="*{dzsheng}" class="form-control" type="text">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">地址-市/地区：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input name="dzshi" th:field="*{dzshi}" class="form-control" type="text">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">地址-区/县：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input name="dzxian" th:field="*{dzxian}" class="form-control" type="text">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">地址-乡镇/街道办事处：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input name="dzxiang" th:field="*{dzxiang}" class="form-control" type="text">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">地址-村/街/路：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input name="dzcun" th:field="*{dzcun}" class="form-control" type="text">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">地址-门牌：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input name="dzmp" th:field="*{dzmp}" class="form-control" type="text">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">    -->
                <!--<label class="col-sm-3 control-label">邮政编码：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input name="yzbm" th:field="*{yzbm}" class="form-control" type="text">-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系方式：</label>
                <div class="col-sm-8">
                    <input name="lxfs" th:field="*{lxfs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">现住址：</label>
                <div class="col-sm-8">
                    <input name="xzz" class="form-control" type="text" th:field="*{xzz}">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "swbg/bgksb";
        $("#form-bgksb-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            $("#xbdm").attr("disabled",false);
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-bgksb-edit').serialize());
            }
        }
        $("input[name='mqcsrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>
