<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('报告卡登记列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="xm"/>
                            </li>
                            <li>
                                <p>性别：</p>
                                <select name="xbdm" th:with="type=${@dict.getType('sys_user_sex')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>出生日期：</p>
                                <input type="text" class="time-input"  placeholder="出生日期" name="csrq"/>
                            </li>
                            <li>
                                <p>母亲姓名：</p>
                                <input type="text" name="mqxm"/>
                            </li>
                            <li>
                                <p>证件类别：</p>
                                <select name="mqsfzj" th:with="type=${@dict.getType('sys_user_paperwork')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>证件号码：</p>
                                <input type="text" name="mqsfzjhm"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="swbg:swbgtxyyj:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="swbg:swbgtxyyj:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="swbg:swbgtxyyj:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="swbg:swbgtxyyj:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('swbg:swbgtxyyj:edit')}]];
        var removeFlag = [[${@permission.hasPermi('swbg:swbgtxyyj:remove')}]];
        var xbdmDatas = [[${@dict.getType('sys_user_sex')}]];
        var mqsfzjDatas = [[${@dict.getType('sys_user_paperwork')}]];
        var prefix = ctx + "swbg/swbgtxyyj";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "报告卡登记",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'xm', 
                    title : '姓名'
                },
                {
                    field : 'xbdm', 
                    title : '性别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(xbdmDatas, value);
                    }
                },
                {
                    field : 'csrq', 
                    title : '出生日期'
                },
                {
                    field : 'mqxm', 
                    title : '母亲姓名'
                },
                // {
                //     field : 'mqsfzj',
                //     title : '证件类别',
                //     formatter: function(value, row, index) {
                //        return $.table.selectDictLabel(mqsfzjDatas, value);
                //     }
                // },
                {
                    field : 'mqsfzjhm', 
                    title : '证件号码'
                },
                // {
                //     field : 'dzsheng',
                //     title : '地址-省/直辖市/自治区'
                // },
                // {
                //     field : 'dzshi',
                //     title : '地址-市/地区'
                // },
                // {
                //     field : 'dzxian',
                //     title : '地址-区/县'
                // },
                // {
                //     field : 'dzxiang',
                //     title : '地址-乡镇/街道办事处'
                // },
                // {
                //     field : 'dzcun',
                //     title : '地址-村/街/路'
                // },
                // {
                //     field : 'dzmp',
                //     title : '地址-门牌'
                // },
                {
                    field : 'lxfs', 
                    title : '联系方式'
                },
                {
                    field : 'xzz',
                    title : '现住址'
                },
                {
                    field : 'djrq',
                    title : '登记日期'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
