<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改产前诊断体格检查记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-cqzdtgjcjl-edit" th:object="${tbChCqzdtgjcjl}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="xm" th:field="*{xm}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="csrq" th:value="${#dates.format(tbChCqzdtgjcjl.csrq, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证件-号码：</label>
                <div class="col-sm-8">
                    <input name="mqsfzjhm" th:field="*{mqsfzjhm}" class="form-control" type="text" readonly>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">身份证件-类别代码：</label>
                <div class="col-sm-8">
                    <input name="mqsfzjlbdm" th:field="*{mqsfzjlbdm}" class="form-control" type="text">
                </div>
            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">体重：</label>
                <div class="col-sm-8">
                    <input name="tz" th:field="*{tz}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">诊断日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="zdrq" th:value="${#dates.format(tbChCqzdtgjcjl.zdrq, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产前诊断医师姓名：</label>
                <div class="col-sm-8">
                    <input name="cqzdysxm" th:field="*{cqzdysxm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">诊断机构名称：</label>
                <div class="col-sm-8">
                    <input name="cqzdjgmc" th:field="*{cqzdjgmc}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">登记日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="djrq" th:value="${#dates.format(tbChCqzdtgjcjl.djrq, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">登记ID：</label>
                <div class="col-sm-8">
                    <input name="cqzddjid" th:field="*{cqzddjid}" class="form-control" type="text">
                </div>
            </div>-->
            <input id="cqzddjid" name="cqzddjid"  type="hidden">
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "cffs/cqzdtgjcjl";
        $("#form-cqzdtgjcjl-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-cqzdtgjcjl-edit').serialize());
            }
        }

        $("input[name='csrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='zdrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='djrq']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>