<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('高危孕产妇实验室检验记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="xm"/>
                            </li>
                            <li class="select-time">
                                <p>出生日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCsrq]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCsrq]"/>
                            </li>
                            <li>
                                <p>身份证件-号码：</p>
                                <input type="text" name="mqsfzjhm"/>
                            </li>
                           <!-- <li>
                                <p>身份证件-类别代码：</p>
                                <input type="text" name="mqsfzjlbdm"/>
                            </li>-->
                            <li>
                                <p>联系方式：</p>
                                <input type="text" name="lxfs"/>
                            </li>
                            <li>
                                <p>辅助检查-结果：</p>
                                <input type="text" name="fzjcjg"/>
                            </li>
                            <li>
                                <p>辅助检查-项目名称：</p>
                                <input type="text" name="fzjcxmmc"/>
                            </li>
                           <!-- <li>
                                <p>检查人员姓名：</p>
                                <input type="text" name="jcryxm"/>
                            </li>
                            <li>
                                <p>检查机构名称：</p>
                                <input type="text" name="jcjgmc"/>
                            </li>
                            <li class="select-time">
                                <p>检查日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginJcrq]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endJcrq]"/>
                            </li>
                            <li class="select-time">
                                <p>登记日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginDjrq]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endDjrq]"/>
                            </li>
                            <li>
                                <p>登记ID：</p>
                                <input type="text" name="gwycfdjid"/>
                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="cffs:gwycfsysjyjl:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="cffs:gwycfsysjyjl:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="cffs:gwycfsysjyjl:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="cffs:gwycfsysjyjl:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('cffs:gwycfsysjyjl:edit')}]];
        var removeFlag = [[${@permission.hasPermi('cffs:gwycfsysjyjl:remove')}]];
        var prefix = ctx + "cffs/gwycfsysjyjl";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "高危孕产妇实验室检验记录",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'xm', 
                    title : '姓名'
                },
                {
                    field : 'csrq', 
                    title : '出生日期'
                },
                {
                    field : 'mqsfzjhm', 
                    title : '身份证件-号码'
                },
                {
                    field : 'mqsfzjlbdm', 
                    title : '身份证件-类别代码'
                },
                {
                    field : 'lxfs', 
                    title : '联系方式'
                },
                {
                    field : 'fzjcjg', 
                    title : '辅助检查-结果'
                },
                {
                    field : 'fzjcxmmc', 
                    title : '辅助检查-项目名称'
                },
                {
                    field : 'jcryxm', 
                    title : '检查人员姓名'
                },
                {
                    field : 'jcjgmc', 
                    title : '检查机构名称'
                },
                {
                    field : 'jcrq', 
                    title : '检查日期'
                },
                {
                    field : 'djrq', 
                    title : '登记日期'
                },
              /*  {
                    field : 'gwycfdjid', 
                    title : '登记ID'
                },*/
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>